<html>
<head>
  <title>ReminderBot App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

Welcome to your dashboard, <%= user.firstName %>!</br>
<a href="/logout">Logout</a><br>
<% if (user.google.id) { %>
  Google account linked with <%= user.google.email %> 
<% } else { %>
  <a href="/auth/google">Add Google Access!</a>
<% } %>

<table class="table">
  <h4>Events Pending</h4>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Event Title</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
  <% for (var i = 0; i < pEvents.length; i++) { %>
    <tr>
      <% console.log(pEvents[i].completed)%>
      <td><%=pEvents[i].creator.firstName%> <%= pEvents[i].creator.lastName%></td>
      <td><%=pEvents[i].title%></td>
      <td><%=pEvents[i].timeStart%></td>
      <td><%=pEvents[i].timeEnd%></td>
  <% } %>
  </tbody>
</table>

<table class="table">
  <h4>Events Sent out</h4>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Event Title</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
  <% for (var i = 0; i < cEvents.length; i++) { %>
    <tr>
      <td><%=cEvents[i].creator.firstName%> <%= cEvents[i].creator.lastName%></td>
      <td><%=cEvents[i].title%></td>
      <td><%=cEvents[i].timeStart%></td>
      <td><%=cEvents[i].timeEnd%></td>
  <% } %>
  </tbody>
</table>

<a href="/event" class="btn btn-primary">Create an Event!</a></br>
</body>
</html>

